@import "../Styles/Styles.scss";
.services{
    h2{@include Pd();}

    .box-container{
        @include grid();

        .box {
            background: $white-gray;
            padding: 3rem;
            text-align: center;
            border-radius: 33% 67% 70% 30%/30% 30% 70% 70%;

            &:nth-child(even) {
                border-radius: 79% 21% 81% 19%/58% 93% 7% 42%;
            }

            &:hover {
                border-radius: 0.5rem;
            }

            .fa{
                height: 6.5rem;
                width: 6.5rem;
                line-height: 6.5rem;
                font-size: 3rem;
                color: #aaa;
                margin-bottom: 0.5rem;
            }

            h3 {
                font-size: 2.2rem;
                color: $black;
                padding: 1rem 0;
            }
        }

        @media (max-width: 768px){
            @include media();
        }
    }
}