$carrot-color: #e67e22;
$black: #041e42;
$white: #fff;
$white-gray: #eee;
$gray: #777;
$border: 0.2rem solid $black;
$box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
$flex: 1 1 40rem;
$width: 100%;
$absolute: absolute;


@mixin Pd() {
    padding-bottom: 50px;
    text-align: center;
}

@mixin grid(){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem
}

@mixin grid2(){
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

@mixin flex(){
    display: flex;
    align-items: center;
}

@mixin media(){
    @media (max-width: 768px){
        grid-template-columns: 1fr;
    }
}
